<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87FACCA01E0D103100FA545A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87FACCB91E0D103100FA545A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87FACCC41E0D103100FA545A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
